img, media {
  max-width: 100%;
}

/* No files to import found in partials/components/**\/* */

/* popular products block */
.view-popular-products .view-content .views-row {
    width: 24%;
    margin-right: 1%;
    border: none;
    display: block;
    float:left;
    border-radius: 15px;
    padding:10px;
    background: none;
}

.view-popular-products .view-content .views-row:hover {
    //border: 1px outset gray;
    background: #F5F5F5;
}
.view-popular-products .view-content .views-row .views-field-title {
    height:40px;
    text-align: center;
    background: white!important;
}

.view-popular-products .view-content .views-row .views-field-field-field-product-photo {
    height:245px;
    text-align: center;
    background: white!important;
}

.view-popular-products .view-content .views-row .views-field-add-to-cart-form .form-item-quantity {
    float:left;
    margin-right: 10px;
}
.view-popular-products .view-content .views-row .views-field-add-to-cart-form .form-submit {
    float: left;
}
.view-popular-products .view-content .views-row .views-field-add-to-cart-form {
    float: right;
    clear:both;
    background: white!important;
    width:100%;
}
.view-popular-products .view-content .views-row .views-field-add-to-cart-form .field-content{
    float: right;
    display: block;
    padding-right: 5px;

}
.view-popular-products .view-content .views-row .views-field-commerce-price {
    text-align: right;
    float: right;
    clear:both;
    padding-bottom: 5px;
    background: white!important;
    width:100%;
}

.view-popular-products .view-content .views-row .views-field-commerce-price .field-content {
    float: right;
    padding-right: 5px;
}


/* end popular products block */

/* site header */
@font-face {
    font-family: Xiomara; /* Гарнитура шрифта */
    src: url(../fonts/Xiomara.eot); /* Для IE5-8 */
    src: url(../fonts/Xiomara.svg); /* iOS */
    src: local(Xiomara), url(../fonts/Xiomara.ttf); /* Для остальных браузеров */
}

.site-logo {
    display: block;
    float: left;
    margin-right: 15px;

}

.site-name a{
    text-decoration: none;
}
.site-name span{
    font-family: Xiomara;
    color: red;

}

.l-branding {
    width: 38.20339%!important;
}

.l-region--header {
    width: 60.10169%!important;
}
.ajax-register-links {
    list-style: none;
}
.ajax-register-links li {
    float:left;
    padding-right:25px;
}
#block-commerce-ajax-basket-link-commerce-ajax-basket-link,
#block-custom-stepug-stepug-user-links,
#block-ajax-register-ajax-register-block {
    float:right;
}
#block-custom-stepug-stepug-user-links .block__content{
    margin: 1em;
}
.ajax-register-links-wrapper{
    overflow: hidden;
    float:right;
    clear:both;
    margin-bottom: 10px;
}
#modal-content form .form-item,
#modal-content form .form-actions {
    float: left;
}
/* end site header */
